<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!--    Define custom log pattern that explicitly includes MDC values before thread info-->
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{traceId:-}] [%thread] %-5level %logger{36} - %msg%n"/>

    <!-- Console appender for all environments -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Root logger that references the CONSOLE appender -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- Application-specific logger -->
    <logger name="com.iam.event_cast" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

</configuration>
